/* Global styles */
@import url("https://fonts.googleapis.com/css?family=Montserrat:400,500,600&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

body {
  background-color: white;
}

/* Variables */
:root {
  --bg-color: #22292f;
  --bg-hover: #3d4852;
  --bg-active: #12283a;
  --light-gray: #8795a1;
}
